html,
body {
	max-width: 100%;
	overflow-x: hidden;
	height: 100vh;
}
body {
	margin: 0;
}
h1 {
	margin: auto;
	text-align: center;
	font-family: "simplified_arabic_fixedRg", sans-serif;
}
.blink {
	-webkit-animation: blink 0.8s steps(5, start) infinite;
	animation: blink 0.8s steps(5, start) infinite;
	transition: animation 0.7s;
}

@keyframes blink {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@-webkit-keyframes blink {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
