html,
body {
	max-width: 100%;
	overflow-x: hidden;
	height: 100vh;
}
body {
	margin: 0;
}
h1 {
	margin: auto;
}
.logo {
	padding: 0.2em;
	font-size: 22px;
	font-family: "simplified_arabic_fixedRg", sans-serif;
	display: inline-block;
}

form {
	display: inline;
	margin-left: -7px;
}

input {
	box-sizing: border-box;
	border: none;
	font-size: 22px;;
	font-family: "simplified_arabic_fixedRg", sans-serif;
	/* caret-color: underscore; */
}

.cursor {
	width: 10px;
	display: inline-block;
	animation: blink 1s step-end infinite;
	margin-left: -7px;
	border-bottom: 2px solid black;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@-webkit-keyframes blink {
	from,
	to {
	  border-color: transparent;
	}
	50% {
	  border-color: black;
	}
  }
