html,
body {
	max-width: 100%;
	overflow-x: hidden;
	height: 100vh;
}
body {
	margin: 0;
}
h1 {
	margin: auto;
}
.logo {
	padding: 0.2em;
	font-size: 22px;
	font-family: "simplified_arabic_fixedRg", sans-serif;
}

form {
	display: inline;
	margin-left: -14px; 
}

input {
	box-sizing: border-box;
	border: none;
	font-size: 22px;;
	font-family: "simplified_arabic_fixedRg", sans-serif;
}

.logo:after {
	content: "_";
	animation: blink 1s step-end infinite;
	margin-left: -14px;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
	from,
	to {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }
